<form action="/users/reset-password" method="post">
    <label for="email">Email: </label>
    <input type="email" name = "email" placeholder="Type Email..." required>
    <input type="hidden" name="user" value="<%= locals.user %>">
    <input type="submit">
</form>