<form action="/reset-password/<%= tokenForResettingPassword %>" method="post" >
    <input type="password" name="password"  placeholder="Type New Password..." required>
    <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
    <input type="hidden" name="token" value="<%= tokenForResettingPassword %>">
    <input type="submit">
</form>