#layout-footer {
  color: white;
  font-family: "Montserrat";
  position: relative;
  z-index: 1;
  background: grey;
  padding: 5px 10px;
  display: flex;
  justify-content: flex-start;
}

#layout-footer a {
  color: white;
  text-decoration: none;
}

#layout-footer .footer-nav ul {
  list-style: none;
}
